.App {
  margin: 0px auto;
  width: 1000px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}


.link-color {
  color: #484c7f;
  transition: ease-in-out 0.3s;
}

.link-color:hover {
  color: #ac8daf;
}


