.App {
  margin: 0px auto;
  width: 1000px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}


.stylist-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

