.App {
  margin: 0px auto;
  width: 1000px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-top: 30px;
}

.navLinks {
  margin: 0px 30px;
  color: #484c7f;
}


.link-color {
  color: #484c7f;
  transition: ease-in-out 0.3s;
}

.link-color:hover {
  color: #ac8daf;
}

.standInImage {
  background-color: #484c7f;
  height: 200px;
  width: 260px;
  box-sizing: border-box;
}


